<div class="text-center">
    <h3>Comments</h3>
    <p>{{comment}}</p>
    <p>created by {{user.name}} on {{createdAt}}</p>
    <p>
        <button class="btn btn-info" id="edit-comment">Edit</button>
    </p>
</div>